* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
}

.videos {
  width: 100%;
  background: #000000;
  color: aliceblue;
  box-shadow: 1px 6px 20px 20px #000000bf;
  backdrop-filter: blur(30px);
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.videos .header {
  width: 90%;
  margin: auto;
}
.videos .header h1 {
  position: relative;
  transition: 0.4s;
  cursor: pointer;
}
.videos .header h1:hover {
  position: relative;
  color: red;
}
.videos .header h1::after {
  content: "";
  position: absolute;
  left: -24px;
  top: 57%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: red;
}

.videos .video {
  width: 90%;
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;

  align-items: center;
  margin: auto;
  gap: 30px;
}

.videos .video .video-item {
  width: 394.667px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.videos .video .video-item .img {
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}
.videos .video .video-item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: 0.4s;
}
.videos .video .video-item img:hover {
  transform: scale(1.1);
}
.videos .video .video-item h1 {
  cursor: pointer;
  padding: 3px 0px;
  font-size: 20px;
}
.videos .video .video-item p {
  font-size: 10px;
  padding: 3px 0px;
}
